/* 
Global vars
*/
:root {
  --main-font: "Jersey10", sans-serif;
  --link-font: "Jersey10Charted", sans-serif;
  --main-font-color: #D9D9D9;
}

/* 
App fonts
*/
@font-face {
  font-family: "Jersey10";
  src: local("Jersey 10"), local("Jersey10"), url("./assets/fonts/Jersey10-Regular.ttf");
}
@font-face {
  font-family: "Jersey10Charted";
  src: local("Jersey 10 Charted"), local("Jersey10Charted"), url("./assets/fonts/Jersey10Charted-Regular.ttf");
}

/* 
Page container
*/
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100vh;
  margin: 0 auto;
  min-height: 100vh;
}

/* 
Main container
*/
.main-container h1, p {
  display: flex;
  justify-content: center;
}

.main-container h1 {
  font-size: 55px;
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  margin: 1em 0;
  color: white;
}

.main-container p {
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 100;
  font-style: normal;
  margin-bottom: 3px;
  color: var(--main-font-color);
}

/* 
Categories tags
*/
.main-container-categories {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.category-item {
  font-size: 24px;
  font-family: var(--main-font);
  font-weight: 100;
  border-radius: 1px;
  padding: 15px 15px;
}

/* 
Bins container
*/
.bins-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100vh;
  margin-bottom: 4em;
}

.bins-container li {
  width: 500px;
  margin: 10px 0;
  border-radius: 1px;
}

.bin-card pre, code {
  font-size: 24px;
  font-family: var(--main-font);
  font-style: oblique;
}

.bin-name {
  font-family: var(--link-font);
  font-style: normal;
}

.bin-name:hover {
  color: white;
}