.container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.container__details_section_wrapper-first-line {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.container__details_section_wrapper-first-line a {
  position: absolute;
  margin-right: 10px;
  bottom: -28px;
}

.container__details_section_wrapper-first-line .bin_name {
  position: absolute;
  color: white;
  font-size: 48px;
  left: 48px;
}

.container__details_section_wrapper-description .bin_description {
  margin-bottom: 10px;
}

.container__details_section_wrapper-description .bin_category {
  font-size: 12px;
  padding: 15px 15px;
  transition: transform 0.3s ease;
}

.container__details_section_wrapper-script-content {
  width: 900px;
  height: 750px;
  margin-top: 30px;
}

.container__details_section_wrapper-script-content pre {
  padding: 10px;
  border: 2px solid #00A96E;
  border-radius: 8px;
  overflow: auto;
}

.container__details_section_wrapper-script-content .language-ruby {
  background-color: #2A323C;
  text-shadow: none;
  font-family: monospace;
  color: inherit;
}
